</body>
<footer>
    <h4>Pokémon is a registered trademark of Nintendo, Creatures, Game Freak and The Pokémon Company. PokeGen is not affiliated with, endorsed, sponsored, or specifically approved by Nintendo, Creatures, Game Freak or The Pokémon Company.</h4>
</footer>
</html>