 
 <footer>

    <button class="footerBn"><a href='/'>Home</a></button>
    <button class="footerBn"><a href='/auth/login'>Log In</a></button>
    <button class="footerBn"><a href='/cards'>Card Index</a></button>
    <button class="footerBn"><a href='/users'>User Index</a></button>
 </footer>
 
     </body>
</html>