<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PokeGen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    </head>
<body>
<header>
    <h3 id="title">PokeGen</h3>
    <nav>    
        <button class="navBtn"><a href='/home'>Home</a></button>
        <button class="navBtn"><a href='/auth/login'>Log In</a></button>
        <button class="navBtn"><a href="/auth/logout">Logout</a></button>
        <button class="navBtn"><a href='/cards'>Card Index</a></button>
        <button class="navBtn"><a href='/cards/new'>Crete Card</a></button>
        <button class="navBtn"><a href='/users'>User Index</a></button>
    </nav>

    
</header>