<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PokéGen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/pokeball.png">
        <link href="/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arimo|Wendy+One" rel="stylesheet">
    </head>
<body>
<header>
    <h3 id="title">PokéGen</h3>    
</header>