    <nav>    
        <button class="navBtn"><a href='/home'>Home</a></button>
        <button class="navBtn"><a href='/auth/login'>Log In</a></button>
        <button class="navBtn"><a href="/auth/logout">Logout</a></button>
        <button class="navBtn"><a href='/cards'>Card Index</a></button>
        <button class="navBtn"><a href='/cards/new'>Create Card</a></button>
        <button class="navBtn"><a href='/users'>User Index</a></button>
    </nav>
