<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PokeGen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
    </head>
<body>
<header>
    
    <nav>    
        <button class="footerBn"><a href='/home'>Home</a></button>
        <button class="footerBn"><a href='/auth/login'>Log In</a></button>
        <button class="footerBn"><a href="/auth/logout">Logout</a></button>
        <button class="footerBn"><a href='/cards'>Card Index</a></button>
        <button class="footerBn"><a href='/users'>User Index</a></button>
    </nav>

    <h1 id="title">PokeGen</h1>
</header>