<div class="menu-scroll mini zoom card-body">

        <div id="name">Pyrosis</div>
        <div id="hp-box"><font size="1px">HP </font>70</div>

        <div id="img-box-border">
            <div id="img-box">
                <img id="img" src="../images/squirl.png">
            </div>
        </div>
        
<div id="yellow-bar">What's something funny for this?  Anyone?</div>

        <div class="attack-box">
            <div class="attack">Bob-fire</div>
            <div class="damage">500</div>
        </div>

        <div class="attack-box">
            <div class="attack">Claw-flames</div>
            <div class="damage">50</div>
        </div>

        <div id="weak-resist-box">  

            <div id="weakness">weakness<br/>
                <small>Hotties</small>
            </div>
                     
            <div id="resistance">resistance<br/>
                <small>Naughties</small>
            </div>  

            <div id="bottom-box">I am at the very bottom!!!</div>

        </div>
</div>