<div class="menu-scroll zoom m-card-body">

        <div id="m-name">Pyrosis</div>
        <div id="m-hp-box"><font size="1px">HP </font>70</div>

        <div id="m-img-box-border">
            <div id="m-img-box">
                <img id="m-img" src="../images/squirl.png">
            </div>
        </div>
        
<div id="m-yellow-bar">What's something funny for this?  Anyone?</div>

        <div class="m-attack-box">
            <div class="m-attack">Bob-fire</div>
            <div class="m-damage">500</div>
        </div>

        <div class="m-attack-box">
            <div class="m-attack">Claw-flames</div>
            <div class="m-damage">50</div>
        </div>

        <div id="m-weak-resist-box">  

            <div id="m-weakness">weakness<br/>
                <small>Hotties</small>
            </div>
                     
            <div id="m-resistance">resistance<br/>
                <small>Naughties</small>
            </div>  

        </div>
</div>