<div class="card-body zoom">

        <div id="name">PokéGen's Name</div>
        <div id="hp-box"><font size="2px">HP </font>???</div>

        <div id="img-box-border">
            <div id="img-box">
                <img class="img-fit" src="/images/squirl.png">
            </div>
        </div>

        <div id="yellow-bar">Stats: Something funny here?</div>

        <div class="attack-box">
            <div class="attack">Attack</div>
            <div class="damage">????</div>
        </div>
                
                <div class="description">This is a really long message you could write someone, so long I am still going!  I could probably keep going for another few sentences? Max 100 spaces</div>
            

        <div class="attack-box2">
            <div class="attack">Second Attack</div>
            <div class="damage">????</div>
        </div>
            
                <div class="description">Enter another attack! Or leave it blank? Max 100 spaces</div>
            


        <div id="weak-resist-box">  

            <div id="weakness">weakness<br/>
                <small>Max 12 spaces</small>
            </div>
                     
            <div id="resistance">resistance<br/>
                <small>Max 12 spaces</small>
            </div>  

            <div id="bottom-box">BOTTOM BOX where more content goes</div>

        </div>

</div>