        <ul>
            <% for (let i = 0; i < users.length; i++) {%>
                <li>
                    <a href="/users/<%=users[i]._id%>"><%= users[i].username%></a>
                </li>
            <% } %>
        </ul>