                        <option value="normal">Normal</option>
                        <option value="fighting">Fighting</option>
                        <option value="steel">Steel</option>
                        <option value="fire">Fire</option>
                        <option value="ground">Ground</option>
                        <option value="dragon">Dragon</option>
                        <option value="water">Water</option>
                        <option value="grass">Grass</option>
                        <option value="electric">Electric</option>
                        <option value="psychic">Psychic</option>