<div id="card-body">

    <div id="name">Your name here</div>
    <div id="hp-box"><font size="2px">HP</font> 700</div>

    <div id="img-box-border">
        <div id="img-box">
            <img src="../images/squirl.png">
        </div>
    </div>

    

    <div id="attack-box">
        <div id="attack">Attack String</div>
        <div id="damage">500</div>
    </div>

    <div id="weak-resist-box">
        <div id="weakness">Weakness</div>
        <div id="divider"></div>
        <div id="resistance">Resistance</div>
    </div>

</div>