/*********************** UNIVERSAL CARD FEATURES ***********************/
/*---------------------- UNIVERSAL CARD FEATURES ----------------------*/
/*********************** CREATE CARD ***********************/
.card-body  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    background-size: cover;
    background-image: linear-gradient(to bottom right, blue,lightblue,blue); /*this is default bg*/
    position: relative;
    word-wrap: break-word; 
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    height: 400px;
    width: 280px;
    border: 8px solid gold;
    border-radius: 10px;
    z-index: 999999999999999999999999999999999999999999999999999999999999999 !important;
    box-shadow: 0 7px 10px 0 black;
}

#name {
    float: left;
    position: relative;
    white-space: nowrap;
    width: 188px;
    font-size: 25px;
    margin: 2px 0 0 5px;
}

#hp-box {
    float: right;
    margin: 2px 30px 0 0;
    font-size: 25px;
    text-align: right;
}

.type > img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    right: 2px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 160px;
    width: 240px;
    margin: 36px 20px;
    box-shadow: 1px 5px 10px black;
}

#img-box {
    position: absolute;
    z-index: 50;
    height: 154px;
    width: 234px;
    max-width: 234px;
    margin: 3px;
}

#yellow-bar {
    height: 11px;
    width: 220px;
    margin: -28px auto -20px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.attack-box, .attack-box2 {
    width: 270px;
    font-size: 16px;
    border-top: 1px solid black;
}

.attack-box { margin: 30px 5px 0 5px; }
.attack-box2 { margin: 5px 5px 0 5px; }

.create-button {
    text-align: center;
    margin-left: 60px;
}

.attack {
    width: auto;
    float: left;
    font-weight: bold;
    font-size: 16px;
    margin: 3px 3px -3px 0;
    max-width: 210px;
}

.attack-container { 
    transform: translateY(5px); 
    position: relative;
    float: left;
    max-width: 42px;
    max-height: 42px;
}

.attack-types > img {
    position: relative;
    height: 18px;
    width: 18px;
}

.damage {
    float: right;
    width: auto;
    margin-bottom: -2px;
    text-align: right;
    margin: 3px 5px 0 2px;
    max-width: 46px;
}

.description {
    line-height: 12px;
    letter-spacing: -.03rem;
    margin: 8px 4px 0 4px;
    position: relative;
    width: 270;
    height: 42px;
    font-size: 12px;
    padding: 0 8px;
}

#weak-resist-box {
    position: absolute;
    bottom: 0;
    width: 270px;
    height: 58px; 
    margin: 20px 5px 4px 5px;
    border-top: 1px solid black;
    font-size: 12px;
}

#weakness, #resistance {
    position: relative;
    top: 0;
    text-align: center;
    line-height: 8px; 
    top: 0;
    width: 110px;
}

#weakness {
    float: left;
    margin: 2px 0 0 5px;
}

#resistance {
    float: right;
    margin: 2px 5px 0 0;
}

#bottom-box {
    font-style: italic;
    text-align: center;
    border: 2px gold solid;
    margin: 32px auto 0 auto;
    height: 22px;
    width: 220px;
    font-size: 10px;
}
/*---------------------- CREATE CARD ----------------------*/
/*********************** MINI CARD ***********************/
.mini {
    transform: scale(.5);
    margin: 0 -60px;
    /* z-index: -1; */
}
/*---------------------- MINI CARD ----------------------*/