/*********************** UNIVERSAL CARD FEATURES ***********************/
.card-body, .m-card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    background-size: cover;
    background-image: linear-gradient(to bottom right, blue,lightblue,blue); /*this is default bg*/
    position: relative;
    word-wrap: break-word; 
}

#name, #m-name {
    float: left;
    position: relative;
    white-space: nowrap;
}

.attack, .m-attack {
    width: auto;
    float: left;
    font-weight: bold;
}

.damage, .m-damage {
    float: right;
    width: auto;
    margin-bottom: -2px;
    text-align: right;
}

#weakness, #resistance, #m-weakness, #m-resistance {
    position: relative;
    top: 0;
    text-align: center;
}

#bottom-box, #m-bottom-box {
    font-style: italic;
    text-align: center;
}
/*---------------------- UNIVERSAL CARD FEATURES ----------------------*/
/*********************** CREATE CARD ***********************/

.card-body {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    height: 400px;
    width: 280px;
    border: 8px solid gold;
    border-radius: 10px;
    z-index: 15;
    box-shadow: 0 7px 10px 0 black;
}

#name {
    width: 188px;
    font-size: 25px;
    margin: 2px 0 0 5px;
}

#hp-box {
    float: right;
    margin: 2px 30px 0 0;
    font-size: 25px;
    text-align: right;
}

.type > img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    right: 2px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 160px;
    width: 240px;
    margin: 36px 20px;
    box-shadow: 1px 5px 10px black;
}

#img-box {
    position: absolute;
    z-index: 50;
    height: 154px;
    width: 234px;
    max-width: 234px;
    margin: 3px;
}

#yellow-bar {
    height: 11px;
    width: 220px;
    margin: -28px auto -20px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.attack-box, .attack-box2 {
    width: 270px;
    font-size: 16px;
    border-top: 1px solid black;
}

.attack-box { margin: 30px 5px 0 5px; }
.attack-box2 { margin: 5px 5px 0 5px; }

.create-button {
    text-align: center;
    margin-left: 60px;
}

.attack {
    font-size: 16px;
    margin: 3px 3px -3px 0;
    max-width: 210px;
}

.attackTypeParent { 
    transform: translateY(5px); 
    position: relative;
    float: left;
    max-width: 42px;
    max-height: 42px;
}

.attackTypes > img {
    position: relative;
    height: 18px;
    width: 18px;
}

.damage {
    margin: 3px 5px 0 2px;
    max-width: 46px;
}

.description {
    line-height: 12px;
    letter-spacing: -.03rem;
    margin: 8px 4px 0 4px;
    position: relative;
    width: 270;
    height: 42px;
    font-size: 12px;
    padding: 0 8px;
}

#weak-resist-box {
    position: absolute;
    bottom: 0;
    width: 270px;
    height: 58px; 
    margin: 20px 5px 4px 5px;
    border-top: 1px solid black;
    font-size: 12px;
}

#weakness, #resistance {
    line-height: 8px; 
    top: 0;
    width: 110px;
}

#weakness {
    float: left;
    margin: 2px 0 0 5px;
}

#resistance {
    float: right;
    margin: 2px 5px 0 0;
}

#bottom-box {
    border: 2px gold solid;
    margin: 32px auto 0 auto;
    height: 22px;
    width: 220px;
    font-size: 10px;
}
/*---------------------- CREATE CARD ----------------------*/
/*********************** MINI CARD ***********************/
.m-card-body {
    float: left;
    margin: 6px;
    height: 200px;
    width: 140px;
    border: 4px solid gold;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px black;
}


#m-name {
    width: 94px;
    font-size: 12px;
    margin: 1px 0 0 2px;  
}

#m-hp-box {
    float: right;
    margin: 1px 15px 0 -10px;
    font-size: 12px;
    text-align: right;
}

#m-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.m-types > img {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    right: 1px;
}

#m-img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 80px;
    width: 120px;
    margin: 18px 10px;
    box-shadow: 1px 3px 5px black;
}

#m-img-box {
    position: absolute;
    height: 78px;
    width: 118px;
    max-width: 234px;
    margin: 1px;
}

#m-yellow-bar {
    height: 6px;
    width: 100px;
    margin: -14px auto -10px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.m-attack-box, .m-attack-box2 {
    width: 132px;
    font-size: 8px;
    border-top: 1px solid black;
}

.m-attack-box { 
    margin: 15px 4px 0 4px; 
}

.m-attack-box2 { 
    margin: 0 4px 0 4px; 
}

.m-attack {
    letter-spacing: -.02rem;
    margin: 1px 2px -5px 0px;
    max-width: 100px;
}

.m-attackTypeParent { 
    transform: translateY(3px); 
    position: relative;
    float: left;
    max-width: 18px;
    max-height: 18px;
}

.m-attackTypes {
    position: relative;
    height: 9px;
    width: 9px;
    float: left;
}
.m-damage {
    margin: 1px 4px 0 1px;
    max-width: 26px;
}

.m-description, .m-description2 {
    line-height: 7px;
    letter-spacing: -.04rem;
    margin: 3px 0 0 0;
    font-size: 6px;
    position: relative;
    padding: 0 4px;
} 

.m-description {
    max-width: 132px;
    height: 23px; 
}

.m-description2 {
    width: 130px;
    height: 20px; 
}

#m-weak-resist-box {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 132px;
    margin: 10px 4px 2px 4px;
    border-top: 1px solid black;
    font-size: 6px;
    line-height: 4px;
}

#m-resistance, #m-weakness { width: 55px; }

#m-weakness{
    float: left;
    margin: 1px 0 0 4px;
}

#m-resistance {
    float: right;
    margin: 1px 4px 0 0;
}

#m-bottom-box {
    border: 1px gold solid;
    margin: 16px auto 0 auto;
    height: 11px;
    width: 110px;
    font-size: 5px;
}
/*---------------------- MINI CARD ----------------------*/