html {
    background: url('images/decor/background-pokegen.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

h1{
    position: relative;
    z-index: 99999999999999999999999;
}

h3 {
    position: absolute;
    font-size: 24px;
    font-family: 'ZCOOL KuaiLe', courier;    
    display: inline;
    margin-block-start: 8px;
    margin-block-end: 0;
    margin-inline-start: 24px;
    margin-inline-end: 8px;
    font-weight: bold;
    z-index: 99999999999999999999999;
}

h4 {
    position: sticky;
    bottom: 0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 50000000000000000000;
}

h5 {    
    font-size: 24px;
    margin-block-start: 5px;
    margin-block-end: 0;
}

p { margin-left: 36px; }

.pTitle { font-family: 'Arimo Bold', sans-serif; }

.pTitle2 {
    font-family: 'ZCOOL KuaiLe', courier;   
    font-size: 36px;
    text-align: center;   
    position: sticky;
    margin-top: 4%;
    bottom: 0;
    z-index: 99999990009999999999999999;
}

header {
    /* position: stick */
}


/*********************** FOOTER ***********************/
footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 99999999999999999999999;
}

.grass-footer {
    position: fixed;
    z-index: 9000000000000;
    height: 20%;
    width: 100%;
    bottom: 0;
}

.grass-footer2 { height: 50px; }
/*---------------------- FOOTER ----------------------*/
/*********************** NAVIGATION ***********************/
a {
    text-decoration: none;
    color: black;
}

nav {
    position: relative;
    float: right;
    z-index: 99999999999999999999999;
    margin: 0 15px 20px 0;
}

button { 
    font-family: 'ZCOOL KuaiLe', courier; 
    border: rgb(108, 148, 239) 4px solid;
    border-radius: 5px;
}

button:hover { background: transparent; }

.navBtn {
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}

.a-text:hover { 
    text-decoration: none; 
    line-height: 20px;
    color: rgb(0, 0, 0, .6); 
    font-size: 32px; 
    margin-left: 5px;
    margin-right: 0px;
    transition: all .2s ease-in-out;
}

.user-font {
    font-family: 'Arimo Bold', sans-serif;
    font-weight: bold;
    font-size: 26px;
    position: relative;
    z-index: 500;
    margin: 10px;
    float: left;
}

.user-font:hover { transform: scale(1.5); }

/*---------------------- NAVIGATION ----------------------*/
/*********************** CLICK CARD ***********************/
.click-down:active {
    transform: translateY(4px);
    transition-delay: none; 
    box-shadow: 0 4px 5px 0 #000;
    color: #000;
}
.m-click-down:active {
    transition-delay: none; 
    box-shadow: 0 1px 2px 0 #000;
    color: #000;
}
/*---------------------- CLICK CARD ----------------------*/
/*********************** ZOOM HOVER ***********************/
/* .zoom, .zoomer { transition: all .2s; } */
.zoom:hover {   
    transition: all .2s;
    transition-delay: .5s;
    transform: scale(1.5);
    z-index: 900000000;
    /* color: #000; */
}
.zoomer:hover { 
    transition: all .2s;
    transition-delay: none; 
    transform: scale(1.5);
    z-index: 99999999999999999999999999999999999999999999999999999989;}
/*---------------------- ZOOM HOVER ----------------------*/
/*********************** PARENT GRID ***********************/
.grid-header { grid-area: header; padding: 0 0 0 20px; }
.grid-menu { grid-area: menu; }
.grid-main { grid-area: main; }
.grid-pad-menu { grid-area: menu; padding: 0 20px; text-align: justify }
.grid-right { grid-area: right; }
.grid-pad-right { grid-area: right; padding: 0 20px; text-align: center;}
.grid-footer { grid-area: footer; }

.grid-container {
    width: 100%;
    display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'footer footer footer footer footer footer';
     grid-gap: 0;
}

.grid-filler { background-size: cover; background-image: url('./images/decor/sky.png') }
/*---------------------- PARENT GRID ----------------------*/
/*********************** HOME PAGE ***********************/
#home-users {
    max-width: 300px;
    padding: 0 20px 0 40px;
}

.home-vert-scroll {
    display: block;
    text-align: center;
    position: absolute;
    z-index: 0;
    overflow: auto;
    height: 65%;
}

.modal-button-box {
    transform: scale(1.5);
    position: relative;
    text-align: center;
    z-index: 9999999999999999999999999999999999999999999999999999999;
}

.box{
    border: transparent;
    width: 100px;
    min-height: 300px;
}
/*---------------------- HOME PAGE ----------------------*/
/*********************** CARDS INDEX PAGE ***********************/
.grid-cards-container {
  display: grid;
  grid-template-areas:
    'header'
    'main';
    /* 'footer'; */
  grid-gap: 0;
}

.vert-scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    overflow: auto;
    height: 100%;
    min-width: 300px;
}

#card-index {
    font-size: 40px;
    font-family: 'ZCOOL KuaiLe', courier; 
    /* text-shadow: 0 7px 10px 0 black; */
}

#sky {
    position: relative;
    max-height: 150px;
}
/*---------------------- CARDS INDEX PAGE ----------------------*/
/*********************** CARD SHOW PAGE ***********************/
/* to lift fave card window */
#cards-users { margin-top: -40px; }
.edit-delete-buttons { text-align: center; }
.show-card-delete-button { display: inline-block; }
.show-card-edit-button { display: inline; }
.margin-auto{ width: 315px; }
/* #show-card-footer {} */

.story {
    margin: 0 auto;
    padding: 5px auto;
    max-width: 500px;
    word-wrap: break-word; 
}

.story2 {
    margin-left: 20%;
    font-size: 16px;
    text-align: left;
}


/*---------------------- CARD SHOW PAGE ----------------------*/
/*********************** NEW PAGE ***********************/
.grid-n-container {
    width: 100%;
    display: grid;
  grid-template-areas:
    'header header header'
    'menu main right'
    'footer footer footer';
    grid-gap: 0;
}

#new-container {
    position: relative;
    z-index: 5;
}

.create-message {
    display: block;
    font-size: 15px;
}

#sample-card { padding-left: 60px; }
.new-card-title { margin-bottom: 0px; }
.new-card-note { font-size: 12px; }
/*---------------------- NEW PAGE ----------------------*/
/*********************** FOOTER SCROLL MENU ***********************/
#menu {
    margin-top: -120px;
    background-color: transparent;
    width: auto;
    height: 230px;
    padding: 55px 0;
    overflow-x: scroll;
}

#inner-menu { width: 5000000000000000000000000px; }
/*---------------------- FOOTER SCROLL MENU ----------------------*/
/*********************** USER SHOW PAGE ***********************/
.grid-user-container {
    width: 100%;
    display: grid;
    grid-template-areas:
      'header header header'
      'menu main right';
    grid-gap: 0;
  }

  #frame-banner {
      height: 72px;
      width: 400px;
      position: absolute;
      bottom: 0;
      margin-bottom: -10px;
      z-index: 3000000000000000000000000;
      background-image: url('./images/decor/frame-banner.png');
      background-repeat: no-repeat;
  }
  /*---------------------- USER SHOW PAGE ----------------------*/
/*********************** USER SHOW SCROLL ***********************/
.grid-user-i-container {
    width: 100%;
    display: grid;
    grid-template-areas:
      'header header'
      'menu  right';
    grid-gap: 0;
  }

/* background-image: url("./images/decor/pixel-frame.png"); */
#feature-frame {
    /* margin-top: -24px; */
    position: relative;
    z-index: 500;
    height: 510px;
    width: 400px;
    background-image: url("./images/decor/pixel-frame.png");
    color: transparent;
}

/* #feature-card { margin-top: -24px } */

.user-vert-scroll {
    margin: 32px 0 0 32px;
    position: absolute;
    z-index: 15;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    width: 316px;
    height: 426px;
}

#user-menu {  
    position: relative;
    margin-top: -200px;
    background-color: transparent;
    width: auto;
    height: 230px;
    padding: 55px 0;
    overflow-x: scroll;
}
/*---------------------- USER SHOW SCROLL MENU ----------------------*/
/*********************** USER INDEX ***********************/
#user-box {
    text-align: justify;
    margin: 26px;
    width: 100%;
}

.fit { position: static; }

#userlist-box {
    min-width: 100px;
}

.name-vert-scroll {
    display: block;
    text-align: center;
    position: absolute;
    z-index: 15;
    overflow: auto;
}

/*---------------------- USER INDEX ----------------------*/
/*********************** INPUT FORM ***********************/
.left-margin { margin-left: auto; }
.left-exp { width: 260px; }

.left-side-exp{
    width: 80px;
    margin: 1px 0;
}

.left, .right {
    width: 230px;
    height: 100%;
    float: left;
}

.left-exp-float {
    padding: 4px 0 0 0;
    position: relative;
    float: left;
}

input, select, .description-input, .story-input, .boxBottom {
    position: relative;
    top: 0;
    width: 122px;
    border-radius: 3px;
    border:  rgb(108, 148, 239) 4px solid;
    margin-top: 1px;
    text-align: left;
    margin: 2px;
    word-wrap: break-word;
}

input { width: 124px; }
select { width: 134px; }

.description-input, .boxBottom { height: 33px; }
.story-input { height: 105px; }

.attackTypeOption { width: 60px; }
/* not an option yet */
/* .check-box {
    border-radius: 3px;
    border: lightblue 4px solid;
} */
/*---------------------- INPUT FORM ----------------------*/
/*********************** UNIVERSAL CARD FEATURES ***********************/
.card-body, .m-card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    background-size: cover;
    background-image: linear-gradient(to bottom right, blue,lightblue,blue); /*this is default bg*/
    position: relative;
    word-wrap: break-word; 
}

#name, #m-name {
    float: left;
    position: relative;
    white-space: nowrap;
    /* word-wrap: wrap none; */
}
.attack, .m-attack {
    width: auto;
    float: left;
    font-weight: bold;
}



.damage, .m-damage {
    float: right;
    width: auto;
    margin-bottom: -2px;
    text-align: right;
}

#weakness, #resistance, #m-weakness, #m-resistance {
    position: relative;
    top: 0;
    text-align: center;
}

#bottom-box, #m-bottom-box {
    font-style: italic;
    text-align: center;
}
/*---------------------- UNIVERSAL CARD FEATURES ----------------------*/
/*********************** CREATE CARD ***********************/

.card-body {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    height: 400px;
    width: 280px;
    border: 8px solid gold;
    border-radius: 10px;
    z-index: 15;
    box-shadow: 0 7px 10px 0 black;
}

#name {
    width: 188px;
    font-size: 25px;
    margin: 2px 0 0 5px;
}

#hp-box {
    float: right;
    margin: 2px 30px 0 0;
    font-size: 25px;
    text-align: right;
}

.types {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    right: 2px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 160px;
    width: 240px;
    margin: 36px 20px;
    box-shadow: 1px 5px 10px black;
}

#img-box {
    position: absolute;
    z-index: 50;
    height: 154px;
    width: 234px;
    max-width: 234px;
    margin: 3px;
}

#yellow-bar {
    height: 11px;
    width: 220px;
    margin: -28px auto -20px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.attack-box, .attack-box2 {
    width: 270px;
    font-size: 16px;
    border-top: 1px solid black;
}

.attack-box {
    margin: 30px 5px 0 5px;
}

.attack-box2 {
    margin: 5px 5px 0 5px;
}

.create-button {
    text-align: center;
    margin-left: 60px;
}

.attack {
    font-size: 16px;
    margin: 3px 3px -3px 0;
    max-width: 210px;
}

.attackTypeParent { transform: translateY(5px); }

.attackType {
    position: relative;
    float: left;
    max-width: 36px;
    max-height: 36px;
}

.attackTypes {
    position: relative;
    height: 18px;
    width: 18px;
}

.damage {
    margin: 3px 5px 0 2px;
    max-width: 46px;
}
.description {
    line-height: 12px;
    letter-spacing: -.03rem;
    margin: 8px 4px 0 4px;
    position: relative;
    width: 270;
    height: 42px; /**/
    font-size: 12px;
    padding: 0 8px;
    /* word-wrap: break-word; */
}

#weak-resist-box {
    position: absolute;
    bottom: 0;
    width: 270px;
    height: 58px; /**/
    margin: 20px 5px 4px 5px;
    border-top: 1px solid black;
    font-size: 12px;
}

#weakness, #resistance {
    line-height: 8px; /**/
    top: 0;
    width: 110px;
}

#weakness {
    float: left;
    margin: 2px 0 0 5px;
}

#resistance {
    float: right;
    margin: 2px 5px 0 0;
}
/**/
#bottom-box {
    border: 2px gold solid;
    margin: 32px auto 0 auto;
    height: 22px;
    width: 220px;
    font-size: 10px;
}
/*---------------------- CREATE CARD ----------------------*/
/*********************** MINI CARD ***********************/
.m-card-body {
    float: left;
    margin: 6px;
    height: 200px;
    width: 140px;
    border: 4px solid gold;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px black;
}


#m-name {
    width: 94px;
    font-size: 12px;
    margin: 1px 0 0 2px;  
}

#m-hp-box {
    float: right;
    margin: 1px 15px 0 -10px;
    font-size: 12px;
    text-align: right;
}

#m-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.m-types {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    right: 1px;
}

#m-img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 80px;
    width: 120px;
    margin: 18px 10px;
    box-shadow: 1px 3px 5px black;
}

#m-img-box {
    position: absolute;
    height: 78px;
    width: 118px;
    max-width: 234px;
    margin: 1px;
}

#m-yellow-bar {
    height: 6px;
    width: 100px;
    margin: -14px auto -10px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.m-attack-box, .m-attack-box2 {
    width: 132px;
    font-size: 8px;
    border-top: 1px solid black;
}

.m-attack-box{
    margin: 15px 4px 0 4px;
}

.m-attack-box2{
    margin: 0 4px 0 4px;
}

.m-attack {
    letter-spacing: -.02rem;
    margin: 1px 2px -5px 0px;
    max-width: 100px;
}

.m-attackTypeParent { transform: translateY(2px); }

.m-attackType {
    position: relative;
    float: left;
    max-width: 18px;
    max-height: 18px;
}

.m-attackTypes {
    text-align: center;
    position: relative;
    height: 9px;
    width: 9px;
    float: left;
}
.m-damage {
    margin: 1px 4px 0 1px;
    max-width: 26px;
}
/* .description {
    margin: 8px 4px 0 4px;
} */
.m-description, .m-description2 {
    line-height: 7px;
    letter-spacing: -.04rem;
    margin: 3px 0 0 0;
    font-size: 6px;
    position: relative;
    padding: 0 4px;
} 

.m-description {
    max-width: 132px;
    height: 23px; 
}

.m-description2 {
    width: 130px;
    height: 20px; 
}

#m-weak-resist-box {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 132px;
    margin: 10px 4px 2px 4px;
    border-top: 1px solid black;
    font-size: 6px;
    line-height: 4px;
}

#m-resistance, #m-weakness {
    width: 55px;
}

#m-weakness{
    float: left;
    margin: 1px 0 0 4px;
}

#m-resistance {
    float: right;
    margin: 1px 4px 0 0;
}

#m-bottom-box {

    border: 1px gold solid;
    margin: 16px auto 0 auto;
    height: 11px;
    width: 110px;
    font-size: 5px;
}
/*---------------------- MINI CARD ----------------------*/

/*---------------------- LOGIN PAGE ----------------------*/
/*********************** AUTH PAGE ***********************/
.grid-auth-container {
    width: 100%;
    display: grid;
    grid-template-areas:
      'header'
      'main';
    grid-gap: 0;
  }

  .auth-container {
      text-align: center;
  }

  /* .login-form { margin-left: 55px; } */

  /* .register-form { margin-left: 75px; } */

  .auth {
      margin: 40px 0;
  }
  /*---------------------- LOGIN PAGE ----------------------*/


/*---------------------- MODAL CSS ----------------------*/

  .modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    opacity: 1;
    color: #444;
    border: rgb(108, 148, 239) 4px solid;
    border-radius: 5px;
    display: none;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

  /*---------------------- MODAL CSS ----------------------*/

  .edit-user{
      text-align: center;  
  }

  #update{
      margin-left: 65px;
  }