/*********************** MAINFRAME ***********************/
html {
    background: url('images/decor/background-pokegen.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

h1{
    position: relative;
    z-index: 50000;
}

.tag {
    position: relative;
    font-size: 24px;
    font-family: 'ZCOOL KuaiLe', courier;    
    display: inline;
    font-weight: bold;
    z-index: 50000;
}

h4 {
    position: sticky;
    bottom: 0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 50000;
}

p { margin-left: 10%; }

.p-title { 
    /* text-align: center; */
    margin-top: 0;
    font-family: 'Arimo Bold', sans-serif; }

.p-title2 {
    font-family: 'ZCOOL KuaiLe', courier;   
    font-size: 36px;
    text-align: center;   
    position: sticky;
    margin-top: 4%;
    bottom: 0;
}
/*---------------------- MAINFRAME ----------------------*/
/*********************** FOOTER ***********************/
footer {
    position: fixed;
    bottom: 0;
    margin: 0px auto 0 auto;
    width: 100%;
    z-index: 80000;
}

.grass-footer {
    position: fixed;
    z-index: 90000;
    height: 20%;
    width: 100%;
    bottom: 0;
}

.grass-footer2 { 
    height: 50px; 
}
/*---------------------- FOOTER ----------------------*/
/*********************** NAVIGATION ***********************/
a {
    text-decoration: none;
    color: black;
}

nav {
    position: relative;
    width: 100%;
    z-index: 50000;
}

button { 
    font-family: 'ZCOOL KuaiLe', courier; 
    border: rgb(108, 148, 239) 4px solid;
    border-radius: 5px;
}

button:hover { 
    background: transparent; 
}

.nav-btn > button {
    margin-left: 5px;
    margin-bottom: -5px;
    font-size: 18px;
    border-radius: 8px;
    float: right;
}
/*---------------------- NAVIGATION ----------------------*/
/*********************** CLICK CARD ***********************/
.click-down:active {
    transform: translateY(4px);
    transition-delay: none; 
    box-shadow: 0 4px 5px 0 #000;
    color: #000;
}
/*---------------------- CLICK CARD ----------------------*/
/*********************** ZOOM HOVER ***********************/
.zoom, .zoomer { 
    transition: all .2s ease-in-out; 
}

.zoom:hover {   
    transform: scale(1.5) translateY(5%);
    transition-delay: .5s;
    z-index: 90000;
}

.zoomer:hover { 
    transform: scale(.8);
    transition-delay: none;
    /* display: inline-block; */
    /* position: relative !important; */
    z-index: 90009 !important;
}
/*---------------------- ZOOM HOVER ----------------------*/


/*********************** PARENT GRID ***********************/
.grid-header { 
    grid-area: header; 
    padding: 10px 2% 0 2%
}
.grid-menu { 
    grid-area: menu; 
    padding: 10% 0 0 10%;
}
.grid-main { 
    grid-area: main; 
    padding-top: 10%;
}
.grid-footer {
    grid-area: footer;
    bottom: 0;
    /* z-index: 3000;
    position: relative; */
}

.grid-main-container {
    width: 100%;
    display: grid;
  grid-template-areas:
    'header'
    'main';
     grid-gap: 0;
}
.grid-container {
    width: 100%;
    display: grid;
  grid-template-areas:
    'header header'
    'menu main'
    'footer footer';
     grid-gap: 0;
}

/* .grid-filler { background-size: cover; background-image: url('./images/decor/sky.png') } */
/*---------------------- PARENT GRID ----------------------*/
/*********************** FOOTER SCROLL MENU ***********************/
#menu {
    bottom: 0;
    margin: -150px 0 0 0;
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.inner-menu { 
    width: 5000000000000000000000000px; 
    display: inline-block;
}

.z:hover{
    z-index: 90000;
}
.z {
    position: relative;
    z-index: 80000;
}
/*---------------------- FOOTER SCROLL MENU ----------------------*/


/*********************** HOME PAGE ***********************/
.home-vert-scroll {
    display: block;
    text-align: center;
    position: absolute;
    z-index: 0;
    overflow: auto;
    height: 65%;
}

.modal-button-box {
    position: relative;
    display: inline;
}

.box-spacer {
    border: transparent;
    width: 100px;
    min-height: 120px;
}
/*---------------------- HOME PAGE ----------------------*/
/*********************** AUTH PAGE ***********************/
.auth-container { text-align: center; }
/*---------------------- AUTH PAGE ----------------------*/
/*********************** USER INFO ***********************/
.edit-user{ text-align: center; }
#update { margin-left: 65px; }
/*---------------------- USER INFO ----------------------*/


/*********************** CARDS INDEX PAGE ***********************/
.vert-scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    overflow: auto;
    height: 100%;
    min-width: 300px;
}

#sky {
    position: relative;
    max-height: 150px;
}
/*---------------------- CARDS INDEX PAGE ----------------------*/
/*********************** CARD SHOW PAGE ***********************/
.edit-delete-buttons { text-align: center; }
.show-card-delete-button { display: inline-block; }
.show-card-edit-button { display: inline; }
.margin-auto{ width: 315px; }

.story {
    margin: 0 auto;
    padding: 5% auto;
    max-width: 500px;
    word-wrap: break-word; 
}

.story2 {
    margin-left: 20%;
    font-size: 16px;
    text-align: left;
}
/*---------------------- CARD SHOW PAGE ----------------------*/
/*********************** NEW CARD PAGE ***********************/
.create-message {
    display: block;
    font-size: 15px;
}

#sample-card { 
    padding: 10% 0 0 10%; 
}
/*---------------------- NEW CARD PAGE ----------------------*/
/*********************** INPUT FORM ***********************/
.left, .right {
    width: 230px;
    height: 100%;
    float: right;
}

.input-box > section > div {
    width: 80px;
    margin: 1px 0;
    padding: 4px 0 0 0;
    position: relative;
    float: left;
}

input, select, .description-input, .story-input, .boxBottom {
    position: relative;
    top: 0;   
    border-radius: 3px;
    border:  rgb(108, 148, 239) 4px solid;
    margin-top: 1px;
    text-align: left;
    margin: 2px;
    word-wrap: break-word;
}

.description-input, .story-input, .boxBottom { width: 122px; }
input { width: 124px; }
select { width: 134px; }
.attack-option { width: 63px; }

.description-input, .boxBottom { height: 33px; }
.story-input { height: 105px; }
/*---------------------- INPUT FORM ----------------------*/


/*********************** USER INDEX ***********************/

.user-font:hover { 
    text-decoration: none; 
    /* border: none; */
    line-height: 20px;
    color: rgb(0, 0, 0, .6); 
    font-size: 32px; 
    margin-left: 5px;
    margin-right: 0px;
    transition: all .2s ease-in-out;
}

.user-font {
    font-family: 'Arimo Bold', sans-serif;
    font-weight: bold;
    font-size: 26px;
    position: relative;
    z-index: 500;
    margin: 10px;
    display: inline-block;
    /* float: left; */

}

#user-box {
    margin: 0 0 40px 10%;
}
/*---------------------- USER INDEX ----------------------*/
/*********************** USER SHOW PAGE ***********************/
  #frame-banner {
      height: 72px;
      width: 400px;
      position: absolute;
      bottom: 0;
      margin-bottom: -10px;
      z-index: 90000;
      background-image: url('./images/decor/frame-banner.png');
      background-repeat: no-repeat;
  }
/*---------------------- USER SHOW PAGE ----------------------*/
/*********************** USER SHOW SCROLL ***********************/
#feature-frame {
    margin-top: -5%;
    position: relative;
    z-index: 60000;
    height: 510px;
    width: 400px;
    background-image: url("./images/decor/pixel-frame.png");
    color: transparent;
}

.user-vert-scroll {
    margin: 32px 0 0 32px;
    position: absolute;
    z-index: 40000;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    width: 316px;
    height: 426px;
}
/*---------------------- USER SHOW SCROLL MENU ----------------------*/


/*********************** MODAL CSS ***********************/
.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    opacity: 1;
    color: #444;
    border: rgb(108, 148, 239) 4px solid;
    border-radius: 5px;
    display: none;
}

.modal-window header { font-weight: bold; }

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover { color: #000; }

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
/*---------------------- MODAL CSS ----------------------*/

