html {
    background: url('images/decor/background-pokegen.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#pTitle {
    font-family: 'Wendy One', sans-serif;
    
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

h1, h3 {
    position: relative;
    z-index: 99999999999999999999999;
}

h3 {
    padding: 0 20px;
    font-size: 24px;
    font-family: 'ZCOOL KuaiLe', courier;    
    margin-block-start: 5px;
    margin-block-end: 0;
}

h4 {
    position: sticky;
    bottom: 0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 50000000000000000000;
}

.user-font {
    font-family: 'Wendy One', sans-serif;
    font-size: 26px;
    position: relative;
    z-index: 500;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition:    all 1s ease-in-out;
	-o-transition:      all 1s ease-in-out;
	-ms-transition:     all 1s ease-in-out;
}

.user-font:hover {
   
	-webkit-transform: rotate(-3deg) scale(1.1);
	-moz-transform:    rotate(-3deg) scale(1.1);
	-o-transform:      rotate(-3deg) scale(1.1);
	-ms-transform:     rotate(-3deg) scale(1.1);
	}



/*********************** FOOTER ***********************/
footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 99999999999999999999999;
}

.grass-footer {
    position: fixed;
    z-index: 9000000000000;
    height: 20%;
    width: 100%;
    bottom: 0;
}
/*---------------------- FOOTER ----------------------*/
/*********************** NAVIGATION ***********************/
a {
    text-decoration: none;
    color: black;
}

.a-text:hover { text-decoration: none; color: rgb(0, 0, 0, .6) }

nav {
    position: relative;
    float: right;
    z-index: 99999999999999999999999;
    margin: 0 50px 0 0;
}

button { 
    font-family: 'ZCOOL KuaiLe', courier; 
    border: rgb(108, 148, 239) 4px solid;
    border-radius: 5px;
}

button:hover {
    background: transparent;
}

.navBtn {
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}
/*---------------------- NAVIGATION ----------------------*/
/*********************** CLICK CARD ***********************/
.click-down:active {
    transform: translateY(4px);
    transition-delay: none; 
    box-shadow: 0 4px 5px 0 #000;
    color: #000;
}
.m-click-down:active {
    transition-delay: none; 
    box-shadow: 0 1px 2px 0 #000;
    color: #000;
}
/*---------------------- CLICK CARD ----------------------*/
/*********************** ZOOM HOVER ***********************/
/* .zoom, .zoomer { transition: all .2s; } */
.zoom:hover {   
    transition: all .2s;
    transition-delay: .5s;
    transform: scale(1.5);
    z-index: 900000000;
    /* color: #000; */
}
.zoomer:hover { 
    transition: all .2s;
    transition-delay: none; 
    transform: scale(1.5);
    z-index: 80000000;}
/*---------------------- ZOOM HOVER ----------------------*/
/*********************** PARENT GRID ***********************/
.grid-header { grid-area: header; padding: 0 0 0 20px; }
.grid-menu { grid-area: menu; }
.grid-main { grid-area: main; }
.grid-pad-menu { grid-area: menu; padding: 0 20px; text-align: justify }
.grid-right { grid-area: right; }
.grid-pad-right { grid-area: right; padding: 0 20px; text-align: justify;}
.grid-footer { grid-area: footer; }
/* .grid-spacer { width: 100000px; } */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 0;
}
/*---------------------- PARENT GRID ----------------------*/
/*********************** HOME PAGE ***********************/
#home-users {
    max-width: 300px;
    padding: 0 20px 0 40px;
}
/*---------------------- HOME PAGE ----------------------*/
/*********************** CARDS INDEX PAGE ***********************/
.grid-cards-container {
  display: grid;
  grid-template-areas:
    'header'
    'main';
    /* 'footer'; */
  grid-gap: 0;
}

.vert-scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto 0 auto;
    overflow: auto;
    height: 100%;
    min-width: 300px;
}

#card-index {
    font-size: 40px;
    font-family: 'ZCOOL KuaiLe', courier; 
    /* text-shadow: 0 7px 10px 0 black; */
}

#sky {
    position: relative;
    max-height: 150px;
}
/*---------------------- CARDS INDEX PAGE ----------------------*/
/*********************** CARD SHOW PAGE ***********************/
/* to lift fave card window */
#cards-users {
    margin-top: -40px;
}

.edit-delete-buttons {
    text-align: center;
    margin-left: 45px;
}

.show-card-delete-button {
    display: inline-block;
    padding-right: 25px;
}

.show-card-edit-button {
    display: inline;
    margin-right: 55px;

}

#show-card-footer {
    grid-column: 3;

}

.story {
    margin: 0 auto;
    padding: 5px auto;
    max-width: 500px;
    word-wrap: break-word; 
}

.grid-showcard-main {
    grid-area: main;
    grid-column: 3/3;
    width: 200px; 
}
/*---------------------- CARD SHOW PAGE ----------------------*/
/*********************** NEW PAGE ***********************/
.grid-n-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main right'
    'footer footer footer';
  grid-gap: 0;
}

#new-container {
    position: relative;
    z-index: 5;
}

#sample-card {
    padding-left: 60px;
}
/*---------------------- NEW PAGE ----------------------*/
/*********************** FOOTER SCROLL MENU ***********************/
#menu {
    margin-top: -150px;
    background-color: transparent;
    width: auto;
    height: 230px;
    padding: 55px 0;
    overflow-x: scroll;
}

#inner-menu {
    width: 5000000000000000000000000px;
}
/*---------------------- FOOTER SCROLL MENU ----------------------*/
/*********************** USER SHOW PAGE ***********************/
.grid-user-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'menu main main right';
    grid-gap: 0;
  }

  #frame-banner {
      height: 72px;
      width: 400px;
      position: absolute;
      bottom: 0;
      margin-bottom: -10px;
      /* padding-bottom: 30px; */
      z-index: 3000000000000000000000000;
      background-image: url('./images/decor/frame-banner.png');
      background-repeat: no-repeat;
  }
  /*---------------------- USER SHOW PAGE ----------------------*/
/*********************** USER SHOW SCROLL ***********************/
/* background-image: url("./images/decor/pixel-frame.png"); */
#feature-frame {
    /* margin-top: -24px; */
    position: relative;
    z-index: 500;
    height: 510px;
    width: 400px;
    background-image: url("./images/decor/pixel-frame.png");
    color: transparent;
}

/* #feature-card { margin-top: -24px } */

.user-vert-scroll {
    margin: 32px 0 0 32px;
    position: absolute;
    z-index: 15;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    width: 316px;
    height: 426px;
}

#user-menu {  
    position: relative;
    margin-top: -240px;
    background-color: transparent;
    width: auto;
    height: 230px;
    padding: 55px 0;
    /* white-space: nowrap; */
    overflow-x: scroll;
}
/*---------------------- USER SHOW SCROLL MENU ----------------------*/
/*********************** USER INDEX ***********************/
#user-box {
    /* text-align: center; */
    padding-top: 10%;
    margin: 10px 50px 0 50px;
    width: auto;
}

/* .user-name {
    font-size: 
} */
/*---------------------- USER INDEX ----------------------*/
/*********************** INPUT FORM ***********************/
.left-margin { margin-left: auto; }
.left-exp { width: 260px; }

.left-side-exp{
    width: 80px;
    margin: 1px 0;
}

.left, .right {
    width: 230px;
    height: 100%;
    float: left;
}

.left-exp-float {
    padding: 4px 0 0 0;
    position: relative;
    float: left;
}

input, select, .description-input, .story-input{
    position: relative;
    top: 0;
    width: 122px;
    border-radius: 3px;
    border:  rgb(108, 148, 239) 4px solid;
    margin-top: 1px;
    text-align: left;
    margin: 2px;
    word-wrap: break-word;
}

input { width: 124px; }
select { width: 134px; }
.description-input { height: 33px; }
.story-input { height: 100px; }

/* not an option yet */
/* .check-box {
    border-radius: 3px;
    border: lightblue 4px solid;
} */
/*---------------------- INPUT FORM ----------------------*/
/*********************** UNIVERSAL CARD FEATURES ***********************/
.card-body, .m-card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-image: linear-gradient(to bottom right, blue,lightblue,blue); /*this is default bg*/
    position: relative;
    float: left;
    word-wrap: break-word; 
}

#name, #m-name {
    float: left;
    position: relative;
    white-space: nowrap;
    /* word-wrap: wrap none; */
}
.attack, .m-attack {
    width: auto;
    float: left;
    font-weight: bold;
}
.damage, .m-damage {
    float: right;
    width: auto;
    margin-bottom: -2px;
    text-align: right;
}

#weakness, #resistance, #m-weakness, #m-resistance {
    position: relative;
    top: 0;
    text-align: center;
}

#bottom-box, #m-bottom-box {
    font-style: italic;
    text-align: center;
}
/*---------------------- UNIVERSAL CARD FEATURES ----------------------*/
/*********************** CREATE CARD ***********************/
.create-message {
    display: block;
    margin-left: 15px;
    font-size: 15px;
}

.card-body {
    margin: 10px;
    height: 400px;
    width: 280px;
    border: 8px solid gold;
    border-radius: 10px;
    z-index: 15;
    box-shadow: 0 7px 10px 0 black;
}

#name {
    width: 188px;
    font-size: 25px;
    margin: 2px 0 0 5px;
}

#hp-box {
    float: right;
    margin: 2px 30px 0 0;
    font-size: 25px;
    text-align: right;
}

.types {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    right: 2px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 160px;
    width: 240px;
    margin: 36px 20px;
    box-shadow: 1px 5px 10px black;
}

#img-box {
    position: absolute;
    z-index: 50;
    height: 154px;
    width: 234px;
    max-width: 234px;
    margin: 3px;
}

#yellow-bar {
    height: 11px;
    width: 220px;
    margin: -28px auto -20px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.attack-box, .attack-box2 {
    width: 270px;
    font-size: 16px;
    border-top: 1px solid black;
}

.attack-box {
    margin: 30px 5px 0 5px;
}

.attack-box2 {
    margin: 5px 5px 0 5px;
}

.create-button {
    text-align: center;
    margin-left: 60px;
}

.attack {
    font-size: 16px;
    margin: 3px 3px -3px 5px;
    max-width: 210px;
}

.damage {
    margin: 3px 5px 0 2px;
    max-width: 46px;
}
.description {
    line-height: 12px;
    letter-spacing: -.03rem;
    margin: 8px 4px 0 4px;
    position: relative;
    width: 270;
    height: 42px; /**/
    font-size: 12px;
    padding: 0 8px;
    /* word-wrap: break-word; */
}

#weak-resist-box {
    position: absolute;
    bottom: 0;
    width: 270px;
    height: 50px; /**/
    margin: 20px 5px 4px 5px;
    border-top: 1px solid black;
    font-size: 12px;
}

#weakness, #resistance {
    line-height: 8px; /**/
    top: 0;
    width: 110px;
}

#weakness {
    float: left;
    margin: 2px 0 0 5px;
}

#resistance {
    float: right;
    margin: 2px 5px 0 0;
}
/**/
#bottom-box {
    border: 2px gold solid;
    margin: 24px auto 0 auto;
    height: 22px;
    width: 220px;
    font-size: 10px;
}
/*---------------------- CREATE CARD ----------------------*/
/*********************** MINI CARD ***********************/
.m-card-body {
    margin: 6px;
    height: 200px;
    width: 140px;
    border: 4px solid gold;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px black;
}


#m-name {
    width: 94px;
    font-size: 12px;
    margin: 1px 0 0 2px;  
}

#m-hp-box {
    float: right;
    margin: 1px 15px 0 -10px;
    font-size: 12px;
    text-align: right;
}

#m-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.m-types {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    right: 1px;
}

#m-img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 80px;
    width: 120px;
    margin: 18px 10px;
    box-shadow: 1px 3px 5px black;
}

#m-img-box {
    position: absolute;
    height: 78px;
    width: 118px;
    max-width: 234px;
    margin: 1px;
}

#m-yellow-bar {
    height: 6px;
    width: 100px;
    margin: -14px auto -10px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.m-attack-box, .m-attack-box2 {
    width: 132px;
    font-size: 8px;
    border-top: 1px solid black;
}

.m-attack-box{
    margin: 15px 4px 0 4px;
}

.m-attack-box2{
    margin: 0 4px 0 4px;
}

.m-attack {
    letter-spacing: -.02rem;
    margin: 1px 2px -5px 4px;
    max-width: 100px;
}

.m-damage {
    margin: 1px 4px 0 1px;
    max-width: 26px;
}
/* .description {
    margin: 8px 4px 0 4px;
} */
.m-description, .m-description2 {
    line-height: 7px;
    letter-spacing: -.04rem;
    margin: 3px 0 0 0;
    font-size: 6px;
    position: relative;
    padding: 0 4px;
} 

.m-description {
    max-width: 132px;
    height: 23px; 
}

.m-description2 {
    width: 130px;
    height: 20px; 
}

#m-weak-resist-box {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 132px;
    margin: 10px 4px 2px 4px;
    border-top: 1px solid black;
    font-size: 6px;
    line-height: 4px;
}

#m-resistance, #m-weakness {
    width: 55px;
}

#m-weakness{
    float: left;
    margin: 1px 0 0 4px;
}

#m-resistance {
    float: right;
    margin: 1px 4px 0 0;
}

#m-bottom-box {
    border: 1px gold solid;
    margin: 12px auto 0 auto;
    height: 11px;
    width: 110px;
    font-size: 5px;
}
/*---------------------- MINI CARD ----------------------*/

/*---------------------- LOGIN PAGE ----------------------*/
/*********************** AUTH PAGE ***********************/
.grid-auth-container {
    display: grid;
    grid-template-areas:
      'header' 'main';
    grid-gap: 0;
  }

  .auth-container {
      text-align: center;
  }

  .login-form {
      margin-left: 55px;
  }

  .register-form {
      margin-left: 75px;
  }
  /*---------------------- LOGIN PAGE ----------------------*/
