html {
    background-color: lightgray;
}
body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
h3 {
    padding: 0 20px;
    font-size: 24px;
    font-family: 'ZCOOL KuaiLe', courier;
}

h4 {
    position: sticky;
    bottom: 0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 500000;
}

/*********************** FOOTER ***********************/
footer {
    /* position: absolute; */
    bottom: 0;
    margin: 20px auto 0 auto;
    width: 100%;
    padding: 0;
    margin: 0;
}


/*---------------------- FOOTER ----------------------*/
/*********************** NAVIGATION ***********************/
nav {
    position: relative;
    float: right;
    margin: 0 50px 0 0;
}
button {
    font-family: 'ZCOOL KuaiLe', courier;
}
.navBtn {
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}
/*---------------------- NAVIGATION ----------------------*/
/*********************** HOME PAGE ***********************/
.grid-header { grid-area: header; }
.grid-menu { grid-area: menu; padding-left: 10px;}
.grid-main { grid-area: main; }
.grid-right { grid-area: right; }
.grid-footer { grid-area: footer; }

#home-container {
    position: relative;
    z-index: 5;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
}

/*---------------------- HOME PAGE ----------------------*/
/*********************** CARDS INDEX PAGE ***********************/
.grid-cards-header { grid-area: header; }
.grid-cards-menu { grid-area: menu; padding-left: 10px;}
.grid-cards-main { grid-area: main; }
.grid-cards-right { grid-area: right; }
.grid-cards-footer { grid-area: footer; }

#new-container {
    position: relative;
    z-index: 5;
}

.grid-cards-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
}

/*---------------------- CARDS INDEX PAGE ----------------------*/
/*********************** NEW PAGE ***********************/
.grid-n-header { grid-area: header; }
.grid-n-menu { grid-area: menu; padding-left: 10px;}
.grid-n-main { grid-area: main; }
.grid-n-right { grid-area: right; }
.grid-n-footer { grid-area: footer; }

#new-container {
    position: relative;
    z-index: 5;
}

.grid-n-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
}

/*---------------------- NEW PAGE ----------------------*/
/*********************** SCROLL MENU ***********************/
#menu {
    position: relative;
    background-color: lightgrey;
    width: auto;
    height: 230px;
    padding: 55px 0;
    white-space: nowrap;
    overflow-x: scroll;
}
#inner-menu {
    width: 5000000000px;
}
/*---------------------- SCROLL MENU ----------------------*/
/*********************** INPUT FORM ***********************/
.container {
    position: relative;
    height: 200px;
    width: 240px;
}
.right {
    position: relative;
    float: right;
}
.left {
    position: relative;
    float: left;
    font-size: 17px;
    text-align: left;
}
input {
    border-radius: 3px;
    margin-top: 1px;
}

select {
    width: 131px;
}
/*---------------------- INPUT FORM ----------------------*/
/*********************** ZOOM HOVER ***********************/
.zoom{
    transition: all .2s;
}
.zoom:hover {
    transform: scale(1.5);
    z-index: 500;
}
/*---------------------- ZOOM HOVER ----------------------*/
/*********************** CREATE CARD ***********************/
#card-body {
    position: relative;
    float: left;
    margin: 5px;
    /* background-image: url('/public/images/grass-bg.png'); */
    background-image: linear-gradient(to bottom right, blue,lightblue,blue); /*this is default bg*/
    height: 400px;
    width: 280px;
    border: 8px solid gold;
    border-radius: 10px;
    background-color: blue;
    z-index: 15;
    box-shadow: 0 5px 10px 5px black;
    
}

#name {
    width: 200px;
    position: relative;
    font-size: 25px;
    float: left;
    margin: 2px 0 0 5px;
}

#hp-box {
    float: right;
    margin: 2px 5px 0 0;
    font-size: 12px;
    text-align: right;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset  0px 0px 10px 0px black;
}

.types {
    width: 30px;
    height: 30px;
    box-shadow: none;
}

#img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 160px;
    width: 240px;
    margin: 36px 20px;
    box-shadow: 1px 5px 10px black;
}

#img-box {
    position: absolute;
    z-index: 50;
    height: 154px;
    width: 234px;
    max-width: 234px;
    margin: 3px;

    background-color: green;
}

#attack-box{
    width: 270px;
    margin: 30px 5px 0 5px;
    border-top: 1px solid black;
}

#attack {
    margin: 5px 0 0 5px;
    width: 200px;
    float: left;
}

#damage {
    margin: 5px 5px 0 0;
    float: right;
    width: 30px;
    text-align: right;

}
#weak-resist-box {
    position: relative;
    width: 270px;
    margin: 100px 5px 0 5px;
    border-top: 1px solid black;
    font-size: 12px;
}

#weakness{
    position: relative;
    top: 0;
    width: 120px;
    float: left;
    margin: 2px 0 0 5px;
    text-align: center;

}

#resistance {
    position: relative;
    top: 0;
    width: 120px;
    float: right;
    margin: 2px 5px 0 0;
    text-align: center;
}
/*---------------------- CREATE CARD ----------------------*/
/*********************** MINI CARD ***********************/
#m-card-body {
    position: relative;
    float: left;
    margin: 6px;
    /* background-image: url('/public/images/grass-bg.png'); */
    /* background-image: linear-gradient(to bottom right, blue,lightblue,blue); */
    height: 200px;
    width: 140px;
    border: 4px solid gold;
    border-radius: 5px;
    /* background-color: rgb(59, 59, 243); */
    box-shadow: 0 2px 5px 2px black;
    
}

#m-name {
    width: 100px;
    position: relative;
    font-size: 12px;
    float: left;
    margin: 1px 0 0 2px;
}

#m-hp-box {
    float: right;
    margin: 1px 2px 0 0;
    font-size: 12px;
    text-align: right;
}
#m-img {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 5; */
    box-shadow: inset  0px 0px 5px 0px black;
}

#m-img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 80px;
    width: 120px;
    margin: 18px 10px;
    box-shadow: 1px 3px 5px black;
}

#m-img-box {
    position: absolute;
    height: 78px;
    width: 118px;
    max-width: 234px;
    margin: 1px;

    background-color: green;
}

#m-attack-box{
    width: 135px;
    margin: 15px 2px 0 2px;
    border-top: 1px solid black;
}

#m-attack {
    margin: 2px 0 0 2px;
    width: 100px;
    float: left;
    font-size: 12px;
}

#m-damage {
    margin: 2px 2px 0 0;
    float: right;
    width: 15px;
    text-align: right;
    font-size: 12px;

}
#m-weak-resist-box {
    position: relative;
    width: 135px;
    margin: 50px 2px 0 2px;
    border-top: 1px solid black;
    font-size: 6px;
}

#m-weakness{
    position: relative;
    top: 0;
    width: 30px;
    float: left;
    margin: 1px 0 0 4px;
    text-align: center;

}

#m-resistance {
    position: relative;
    top: 0;
    width: 30px;
    float: right;
    margin: 1px 4px 0 0;
    text-align: center;
}
/*---------------------- MINI CARD ----------------------*/