html {
    background: url('images/background-pokegen.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

h2 { margin-bottom: 5px; }

a {
    text-decoration: none;
    color: black;
}

.a-text:hover { text-decoration: none; color: rgb(0, 0, 0, .6) }

.click-down:active {
    transform: translateY(4px);
    box-shadow: 0 4px 5px 0 #000;
    color: #000;
}
.m-click-down:active {
    box-shadow: 0 1px 2px 0 #000;
    color: #000;
}

h3 {
    padding: 0 20px;
    font-size: 24px;
    font-family: 'ZCOOL KuaiLe', courier;
}

.user-font {
    font-family: 'ZCOOL KuaiLe', courier;
    position: relative;
    z-index: 500;
}

h4 {
    position: sticky;
    bottom: 0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 50000000000000000000;
}
/*********************** FOOTER ***********************/
footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 99999999999999999999999;
}

.grass-footer {
    position: fixed;
    z-index: 9000000000000;
    height: 20%;
    width: 100%;
    bottom: 0;
}
/*---------------------- FOOTER ----------------------*/
/*********************** NAVIGATION ***********************/
nav {
    position: relative;
    float: right;
    margin: 0 50px 0 0;
}

button { 
    font-family: 'ZCOOL KuaiLe', courier; 
    border: rgb(108, 148, 239) 4px solid;
    border-radius: 5px;
}

.navBtn {
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}
/*---------------------- NAVIGATION ----------------------*/
/*********************** ZOOM HOVER ***********************/
.zoom { transition: all .2s; }
.zoom:hover {
    transform: scale(1.5);
    z-index: 90000000;
    color: #000;
}
/*---------------------- ZOOM HOVER ----------------------*/
/*********************** PARENT GRID ***********************/
.grid-header { grid-area: header; padding: 0 0 0 20px; }
.grid-menu { grid-area: menu; }
.grid-main { grid-area: main; }
.grid-pad-menu { grid-area: menu; padding: 0 0 0 20px; }
.grid-right { grid-area: right; }
.grid-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 0;
}
/*---------------------- PARENT GRID ----------------------*/
/*********************** HOME PAGE ***********************/
#home-users {
    width: 300px;
    padding: 0 20px 0 40px;
}
/*---------------------- HOME PAGE ----------------------*/
/*********************** CARDS INDEX PAGE ***********************/
.grid-cards-container {
  display: grid;
  grid-template-areas:
    'header'
    'main';
    /* 'footer'; */
  grid-gap: 0;
}

.vert-scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 5% 0 5%;
    overflow: auto;
    height: 80%;
    min-width: 300px;
}
/*---------------------- CARDS INDEX PAGE ----------------------*/
/*********************** CARD SHOW PAGE ***********************/
/* to lift fave card window */
#cards-users {
    margin-top: -40px;
}

.edit-delete-buttons {
    text-align: center;
    margin-left: 45px;
}

.show-card-delete-button {
    display: inline-block;
    padding-right: 25px;
}

.show-card-edit-button {
    display: inline;
    margin-right: 55px;

}

#show-card-footer {
    grid-column: 3;

}

#story {
    padding: 5px 30px;
}
/*---------------------- CARD SHOW PAGE ----------------------*/
/*********************** NEW PAGE ***********************/
.grid-n-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main right'
    'footer footer footer';
  grid-gap: 0;
}

#new-container {
    position: relative;
    z-index: 5;
}
/*---------------------- NEW PAGE ----------------------*/
/*********************** FOOTER SCROLL MENU ***********************/
#menu {
    margin-top: -150px;
    background-color: transparent;
    width: auto;
    height: 230px;
    padding: 55px 0;
    /* white-space: nowrap; */
    overflow-x: scroll;
}

#inner-menu {
    width: 5000000000000000000000000px;
}
/*---------------------- FOOTER SCROLL MENU ----------------------*/
/*********************** USER SHOW PAGE ***********************/
.grid-user-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'menu main main right';
    grid-gap: 0;
  }
  /*---------------------- USER SHOW PAGE ----------------------*/
/*********************** USER SHOW SCROLL ***********************/
/* background-image: url("./images/decor/pixel-frame.png"); */
#feature-frame {
    margin-top: -24px;
    position: relative;
    z-index: 500;
    height: 510px;
    width: 400px;
    background-image: url("./images/decor/pixel-frame.png");
    color: transparent;
}

/* #feature-card { margin-top: -24px } */

.user-vert-scroll {
    margin: 32px 0 0 32px;
    position: absolute;
    z-index: 15;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    width: 316px;
    height: 426px;
}

#user-menu {  
    position: relative;
    margin-top: -240px;
    background-color: transparent;
    width: auto;
    height: 230px;
    padding: 55px 0;
    /* white-space: nowrap; */
    overflow-x: scroll;
}
/*---------------------- USER SHOW SCROLL MENU ----------------------*/
/*********************** USER INPUT FORM ***********************/
.left-margin { margin-left: auto; }
.left-exp { width: 260px; }

.left-side-exp{
    width: 80px;
    margin: 1px 0;
}

.left, .right {
    width: 230px;
    height: 100%;
    float: left;
}

.left-exp-float {
    padding: 4px 0 0 0;
    position: relative;
    float: left;
}

input, select, .description-input, .story-input{
    position: relative;
    top: 0;
    width: 122px;
    border-radius: 3px;
    border:  rgb(108, 148, 239) 4px solid;
    margin-top: 1px;
    text-align: left;
    margin: 2px;
    word-wrap: break-word;
}

input { width: 124px; }
select { width: 134px; }
.description-input { height: 33px; }
.story-input { height: 100px; }

/* not an option yet */
/* .check-box {
    border-radius: 3px;
    border: lightblue 4px solid;
} */
/*---------------------- INPUT FORM ----------------------*/
/*********************** CREATE CARD ***********************/
.card-body, .m-card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to bottom right, blue,lightblue,blue); /*this is default bg*/
    position: relative;
    float: left;
    word-wrap: break-word; 
}

.card-body {
    margin: 10px;
    height: 400px;
    width: 280px;
    border: 8px solid gold;
    border-radius: 10px;
    z-index: 15;
    box-shadow: 0 7px 10px 0 black;
}

#name {
    width: 180px;
    position: relative;
    font-size: 25px;
    float: left;
    margin: 2px 0 0 5px;
    /* word-wrap: wrap none; */
}

#hp-box {
    float: right;
    margin: 2px 30px 0 0;
    font-size: 25px;
    text-align: right;
}

.types {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    right: 2px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 160px;
    width: 240px;
    margin: 36px 20px;
    box-shadow: 1px 5px 10px black;
}

#img-box {
    position: absolute;
    z-index: 50;
    height: 154px;
    width: 234px;
    max-width: 234px;
    margin: 3px;
}

#yellow-bar {
    height: 11px;
    width: 220px;
    margin: -28px auto -20px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.attack-box, .attack-box2 {
    width: 270px;
    font-size: 16px;
    border-top: 1px solid black;
}

.attack-box {
    margin: 30px 5px 0 5px;
}

.attack-box2 {
    margin: 5px 5px 0 5px;
}

.attack {
    margin: 3px 3px 0 5px;
    /* width: 224px; */
    width: auto;
    max-width: 210px;
    float: left;
    font-weight: bold;
}

.damage {
    margin: 5px 5px 0 0;
    float: right;
    width: auto;
    max-width: 46px;
    text-align: right;
}
.description {
    margin: 8px 4px 0 4px;
    /* margin: 20px 4px 0 4px; */
    position: relative;
    width: 270;
    height: 40px; 
    font-size: 12px;
    padding: 0 8px;
    /* word-wrap: break-word; */
}

#weak-resist-box {
    position: absolute;
    bottom: 0;
    width: 270px;
    margin: 20px 5px 4px 5px;
    border-top: 1px solid black;
    font-size: 12px;
}

#weakness, #resistance {
    position: relative;
    top: 0;
    width: 110px;
    text-align: center;
}

#weakness {
    float: left;
    margin: 2px 0 0 5px;
}

#resistance {
    float: right;
    margin: 2px 5px 0 0;
}
/*---------------------- CREATE CARD ----------------------*/
/*********************** MINI CARD ***********************/
.m-card-body {
    margin: 6px;
    height: 200px;
    width: 140px;
    border: 4px solid gold;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px black;
}

#m-name {
    width: 86px;
    position: relative;
    font-size: 12px;
    float: left;
    margin: 1px 0 0 2px;
}

#m-hp-box {
    float: right;
    margin: 1px 15px 0 0;
    font-size: 12px;
    text-align: right;
}

#m-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.m-types {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    right: 1px;
}

#m-img-box-border{
    background-image: linear-gradient(to bottom right, rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(153, 118, 35));
    height: 80px;
    width: 120px;
    margin: 18px 10px;
    box-shadow: 1px 3px 5px black;
}

#m-img-box {
    position: absolute;
    height: 78px;
    width: 118px;
    max-width: 234px;
    margin: 1px;
}

#m-yellow-bar {
    height: 6px;
    width: 100px;
    margin: -14px auto -10px auto;
    background-image: linear-gradient(to  right,rgb(153, 118, 35), rgb(253, 190, 44), rgb(255, 255, 255), gold, rgb(253, 190, 44), rgb(153, 118, 35));
    text-align: center;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.m-attack-box, .m-attack-box2 {
    width: 132px;
    font-size: 8px;
    border-top: 1px solid black;
}

.m-attack-box{
    margin: 15px 4px 0 4px;
}

.m-attack-box2{
    margin: 0 4px 0 4px;
}

.m-attack {
    margin: 1px 2px 0 4px;
    max-width: 100px;
    width: auto;
    float: left;
    font-weight: bold;
}

.m-damage {
    margin: 1px 4px 0 0;
    float: right;
    width: auto;
    max-width: 26px;
    text-align: right;
}
/* .description {
    margin: 8px 4px 0 4px;
} */
.m-description, .m-description2 {
    margin: 3px 0 0 0;
    font-size: 6px;
    position: relative;
    padding: 0 4px;
} 
.m-description {
    max-width: 132px;
    height: 23px; 
}

.m-description2 {
    width: 130px;
    height: 20px; 
}

#m-weak-resist-box {
    position: absolute;
    bottom: 0;
    width: 132px;
    margin: 10px 4px 2px 4px;
    border-top: 1px solid black;
    font-size: 6px;
}

#m-resistance, #m-weakness {
    position: relative;
    top: 0;
    width: 55px;
    text-align: center;
}

#m-weakness{
    float: left;
    margin: 1px 0 0 4px;
}

#m-resistance {
    float: right;
    margin: 1px 4px 0 0;
}
/*---------------------- MINI CARD ----------------------*/