<%- include('../partials/frames/header')%>
<div id="home-container" class="grid-container">

    <div class="grid-header">
    <%- include('../partials/frames/head')%>
    </div>

    <div id="home-main" class="grid-pad-menu">
<<<<<<< HEAD
        <div class="story">
        <h1 class="pTitle">Welcome to PokéGen!</h1>
            <h2>Generate your own Pokémon Cards!!</h2>
            <p> PokéGen was created for the love of Pokémon, Pokémon cards, and the love of creating hilarious memes. This is a          unique universe where you can become both a Pokémon and the master! <br>
                <br>
                Make as many cards as you like to collect them all, pick your favorites, and share with your friends to see who has the best deck. Will your creation be the best there ever was?!<br>
                <br>
                <%if (logged=== undefined){%>
                    In order to create cards, please <button><a href="/auth/login">Login</a> </button> or <button><a href="/auth/login">Register.</a></button> <br>
                <%}%>
                </p>
                <h2>The basics</h2>
                <p> Generate your PokéGen card by first logging in or registering if you don't have an account. Only a username and password is needed! Create your PokéGen's name, give it health points(HP), choose it's element, add some stats like age or height, and add something to the  bottom of the card. You can give your PokéGen two attacks with a damage value and a details of the attack, and also a weakness and resistance. Finally add a picture to your PokéGen using a direct link URL ending with .jpg or .png and don't forget a story of why this card was generated! And of course, humor is encouraged through the whole process.   </p>
=======
        <h1 id="pTitle">Welcome to PokéGen!</h1>
        <div class="story">
            <h2>Generate your own Pokémon Cards!!</h2>
            <p> PokeGen is a unique universe where you can become both a pokémon and the master! <br />
                <br />
                Make as many cards as you like to collect them all, pick your favorites, and share with your friends to see who has the best deck.<br />
            </p>
>>>>>>> master
        </div>
    </div>

    <div id="feature-card" class="grid-main">
        <%-include('../partials/randomCard')%>
    </div>

    <div id="home-users" class="grid-right">   
    </div>

    <div class="grid-footer">
    </div>

</div>
<%-include('../partials/scroll')%>