<%- include('../partials/header')%>
<div id="home-container" class="grid-container">

    <div class="grid-header">
    <%- include('../partials/head')%>
    </div>

    <div id="home-main" class="grid-pad-menu">

        <div>
        <h1>Welcome to PokeGen!</h1>
            <h2>Generate your own Pokemon Cards!!</h2>
            <p> PokeGen is a unique universe where you can become both a           pokemon and the master! <br>
                Make as many cards as you like. Collect them all, pick your favorites, and share with your friends to see who has the best deck. <br>
                <br>

                    Maybe make this into a table with colums and rows to avoid BS
                </p>
        </div>
    </div>
    <div id="feature-card" class="grid-main">

        <%-include('../partials/randomCard')%>
    </div>
    <div id="home-users" class="grid-right">
        <h2>Know Yo Foe:</h2>

    </div>

    <div class="grid-footer">
    </div>

</div>
<%-include('../partials/scroll')%>