<%- include('../partials/header')%>
<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
        <h1>ALL CREATED CARDS</h1>
    </div>
    
    <div class="grid-main feature-card">
        <div id="feature-frame">
            <div class="vert-scroll">
                <%- include('../partials/cards')%>
            </div>
        </div>
    </div>



</div>
<div class="grass-footer"><img src="images/grass-footer.png"></div>


<%- include('../partials/footer')%>
