<%- include('../partials/header')%>

<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
        <h1 id="card-index">Cards Gallery</h1>
    </div>
    
    <div class="grid-main feature-card">
        <div class="grid-spacer">
        </div>

        <div class="vert-scroll">
            <img id="sky" src="../images/decor/sky.png">
            <%- include('../partials/cards')%>
        
        </div>

        <div class="grid-spacer">
        </div>
    </div>

</div>

<div class="grass-footer">
    <img src="../images/decor/grass-footer.png">
</div>

<%- include('../partials/footer')%>
