<%- include('../partials/header')%>
<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
        <h1>ALL CREATED CARDS</h1>
    </div>
    <div class="grid-main feature-cards">
        <%- include('../partials/cards')%>
    </div>

    <div class="grid-footer">
    </div>

</div>


<%- include('../partials/scroll')%>
