<%- include('../partials/header')%>
<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
        <h1>ALL CREATED CARDS</h1>
        <h2>EACH CARD IN THE INDEX WILL LINK TO THE INDIVIDUAL SHOW PAGE FOR THE SPECIFIC USER</h2>
    </div>

    <div id="cards-main" class="grid-menu">
        <p>THIS IS A WELCOME PARAGRAPH</p>
    </div>

    <div id="feature-card" class="grid-main">
        <p>THIS IS A WELCOME PARAGRAPH</p>
    </div>

    <div id="cards-users" class="grid-right">
        <%- include('../partials/cards')%>
    </div>

    <div class="grid-footer">
    </div>

</div>





<%- include('../partials/scroll')%>
