<%- include('./partials/header')%>
<h1>THIS IS THE CARD INDEX PAGE FOR AN INDIVIDUAL USER</h1>
<h2>EACH CARD IN THE INDEX WILL LINK TO THE INDIVIDUAL SHOW PAGE FOR THE SPECIFIC USER</h2>





<a href="cards/new">Make a Card</a>

<%- include('./partials/footer')%>
