<%- include('../partials/frames/head')%>

<div id="cards-container" class="grid-main-container">

            <div class="grid-header">
        <%- include('../partials/frames/header')%>
    </div>

    
    <div class="grid-main">
        <div class="vert-scroll">
            <img id="sky" src="../images/decor/sky.png">
            <%- include('../partials/cards')%>                
            <div class="box-spacer"></div>     
        </div>
    </div>

</div>

<div class="grass-footer">
    <img src="../images/decor/grass-footer.png">
    <h1 class="p-title2">Cards Gallery</h1>
</div>


<%- include('../partials/frames/footer')%>
