<%- include('../partials/header')%>

<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
        <h1>Cards Gallery</h1>
    </div>
    
    <div class="grid-main feature-card">
    <div class="grid-spacer">
    </div>
        <div class="vert-scroll">
            <%- include('../partials/cards')%>
        </div>
    <div class="grid-spacer">
    </div>
    </div>

</div>

<div class="grass-footer">
    <img src="images/grass-footer.png">
</div>

<%- include('../partials/footer')%>
