<%- include('../partials/header')%>
<h1>This is the New.ejs for cards</h1>
<form action="/cards" method="POST">
    Name:           <input type="text" name="name" /><br/>
    Image Url:      <input type="text" name="url" />  <small>add a note when hovering to advise on best dimensions</small><br/>
    HP:             <input type="text" name="hp" /><br/>
    Element Type:   <select name="type"><br/>
                        <option value="fighting">Fighting</option>
                        <option value="flying">Flying</option>
                        <option value="poison">Poison</option>
                        <option value="ground">Ground</option>
                        <option value="rock">Rock</option>
                        <option value="bug">Bug</option>
                        <option value="ghost">Ghost</option>
                        <option value="steel">Steel</option>
                        <option value="fire" selected>Fire</option>
                        <option value="water">Water</option>
                        <option value="grass">Grass</option>
                        <option value="electric">Electric</option>
                        <option value="psychic">Psychic</option>
                        <option value="ice">Ice</option>
                        <option value="dragon">Dragon</option>
                        <option value="fairy">Fairy</option>
                        <option value="dark">Dark</option>
                    </select><br/>
    Attack:         <input type="text" name="attack" /><br/>
    Damage:         <input type="text" name="damage" /><br/>
    Weakness:       <input type="text" name="weakness" /><br/>
    Resistance:     <input type="text" name="resistance" /><br/>

</form>





<%- include('../partials/footer')%>