<%- include('./partials/header')%>
<h1>This is the New.ejs for cards</h1>

Name: <input>
Image Url: <input>  <small>add a note when hovering to advise on best dimensions</small>


<%# const cardSchema = mongoose.Schema({
    name: String,
    url: String,
    hp: Number,
    type: String, // drop down option, 8 types
    attack: String,
    damage: Number,
    weakness: String, // limited to types
    resistance:
}) %>



<%- include('./partials/footer')%>