<%- include('../partials/header')%>
<h1>This is the New.ejs for cards</h1>





<div id="new-container" class="grid-n-container">

    <div class="grid-n-header">
    </div>

    <div id="new-main" class="grid-n-menu">
    </div>

    <div id="feature-card" class="grid-n-main">
             <div class="container">
                <div class="left">
                    Name:<br />  
                    Image Url:<br />  
                    HP: <br />  
                    Element Type:<br />  
                    Attack:<br />  
                    Damage:<br />  
                    Weakness:<br />  
                    Resistance:<br />  
                </div>

                <div class="right">
                    <form action="/cards" method="POST">
                        <input type="text" name="name" placeholder="add name"/><br/>
                        <input type="text" name="url" placeholder="add image url" title="hover"/><br/>
                        <input type="text" name="hp" placeholder="add HP"/><br/>
                        <select name="type"><br/>
                                <option value="normal">Normal</option>
                                <option value="fighting">Fighting</option>
                                <option value="ground">Ground</option>
                                <option value="steel">Steel</option>
                                <option value="fire">Fire</option>
                                <option value="water" select>Water</option>
                                <option value="grass">Grass</option>
                                <option value="electric">Electric</option>
                                <option value="psychic">Psychic</option>
                        </select><br/>
                        <input type="text" name="attack"  placeholder="add attack"/><br/>
                        <input type="text" name="damage"  placeholder="add damage"/><br/>
                        <input type="text" name="weakness"  placeholder="add weakness"/><br/>
                        <input type="text" name="resistance"  placeholder="add resistance"/><br/>
                        <button type="submit">Create</button>
                    </form>
                </div>
            </div>
    </div>

    <div class="grid-n-right">
    <%-include('../partials/samplecard')%>
    </div>

    <div class="grid-n-footer">
    </div>

</div>





<%- include('../partials/footer')%>