<%- include('../partials/header')%>
<h1> THIS IS A SHOW PAGE FOR A CARD</h1>

<%- include('../partials/card')%>

<section>
    <form method="POST" action="/cards/<%=cards._id%>?_method=DELETE">
        <button>DELETE CARD</button>
    </form>
</section>
<%- include('../partials/footer')%>