<%- include('../partials/header')%>
<h1>THIS IS AN EDIT PAGE FOR USERS</h1>

<form action="/users/<%=user._id%>?_method=PUT" method="POST">
<input type="text" name="username" value="<%=user.username%>">
<button type="submit">Submit</button>
    
</form>

<%- include('../partials/footer')%>