<%- include('../partials/header')%>

<div id="users-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
    </div>


    <div id="users-main" class="grid-pad-menu">
        <h1 id="pTitle">PokeGen Community</h1><br>
        <h3>The gang is all here! </h3><br>
        What's new in the Pokegen world. Check out the newest members and your old friends as well. Who has got the best new cards, can you come up with anything better </p>

    </div>

    <div id="" class="grid-main">
        <div id="user-box" class="name-vert-scroll">
            <%- include('../partials/userlist')%>
        </div>
    </div>

    <div class="grid-pad-right">
    <h1>User Index</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="grid-footer">
    </div>

</div>



<%- include('../partials/footer')%>
