<%- include('./partials/header')%>
<h1>THIS IS THE USER INDEX PAGE</h1>
    <ul>
        <% for (let i = 0; i < user.length; i++) {%>
            <li>
                <a href="/users/<%=user[i]._id%>"><%= user[i].name%></a>
            </li>
        <% } %>
    </ul>

<%- include('./partials/footer')%>
