<%- include('../partials/frames/header')%>

<div id="users-container" class="grid-container">

    <div class="grid-header">
        <div class="grid-filler"></div>
    </div>


    <div id="users-main" class="grid-pad-menu">
        <div class="story">
            <h1 class="pTitle">PokéGen Community</h1><br>
            <h3 class="pTitle">The gang is all here! </h3><br>
            <p>Check out the newest members top of the list, and the veteran trainers at the bottom. See all the trainer's full collection at the bottom of their page, and check out their favorites display. Every trainer has their own collection and their own style! Get inspired to make your own and become a PokéGen master! </p>
        </div>
    </div>

    <div id="userlist-box" class="grid-main">
        <div id="user-box" class="name-vert-scroll">

            <%- include('../partials/userlist')%>

        </div>
    </div>

    <div class="grid-pad-right">
        <%-include('../partials/randomCard')%>
    </div>

    <div class="grid-footer">
    
    </div>

</div>

<div class="grass-footer2 grass-footer">
    <img src="../images/decor/grass2.png">
</div>

<%- include('../partials/frames/footer')%>
